{% extends "base.html" %}
{% set title %}About this site{% endset %}

{% block content %}
<h2>Motivaions</h2>
<p>I created this site as a way to help my children learn more about computers and how they work. I also decided to create something from scratch rather than using some of the already available resources so that it would be a fun project for me as well.

The content on this site is now, and will always be, free for any use. Contributions are welcome, provided you are agreeable to the same terms.

<h2>Shoulders being stood upon</h2>
This website is built using several other wonderful projects.

<h3><a href="https://skulpt.org">Skulpt</a></h3>
<p>Skulpt is what allows the code presented and modified on this web site to be run entirely within your web browser.


<h3><a href="https://codemirror.net">CodeMirror</a></h3>
<p>CodeMirror is what is styling the boxes of code that are displayed on this site. It provides syntax highlighting and other nice display features.

<h3><a href="https://getbootstrap.com/">Bootstrap</a></h3>
<p>Bootstrap is used for the web design, styling, layout, and icons.

<h3><a href="https://jinja.palletsprojects.com/">Jinja2</a></h3>
<p>The HTML pages that constitute this site are built, in part, using the Jinja2 templating language.

<h3><a href="https://www.python.org/">Python</a></h3>
<p>All of the code on this site is written in a programming language called Python. Python is, in my opinion, an excellent language for teaching the fundimental concepts of computer software.

{% endblock %}
