{% extends "base.html" %}
{% set title %}Teach Kids Programming{% endset %}

{% block content %}
<p>Welcome. This site is my attempt at creating a resource for teaching children (specifically <strong>my</strong> children, but maybe yours too) basic concepts of programming. This is <em>not</em> intended to teach them a specific programming language (though the site is using python) or syntax. Rather the focus is on the concepts. (e.g loops, maps)

<br/>

<p>Suggestions, corrections, and discussion are welcome. The source for this site, as well as a place to submit issues is available at <a href="https://github.com/skiingwiz/kids-programming-web/">https://github.com/skiingwiz/kids-programming-web/</a>

<br/>

<p>Head over to the <a href="toc.html">Table of Contents</a> to see what's available or just jump straight to <a href="lesson_01.html">Lesson 1</a>

<h2>Enjoy!</h2>
{% endblock %}
