{% extends "base.html" %}
{% set title %}Lesson 4 - Loops{% endset %}
{% set prev_page%}lesson_03.html{% endset %}
{% set next_page%}lesson_05.html{% endset %}

{% block content %}
CONTENT
{% endblock %}
