{% extends "base.html" %}
{% set title %}Lesson 4 - Lists{% endset %}
{% set prev_page%}lesson_03.html{% endset %}
{% set next_page%}lesson_05.html{% endset %}

{% block content %}
One way to organize things is in a list. You probably make lists on paper. You can make lists in a program too! Maybe you're making a shopping list.

<code>
my_favorite_numbers = [2, 13, 1, 21, 7]
my_shopping = ['food', 'toys', 'books']

print(my_favorite_numbers)
print(my_shopping)
</code>

Once you have a list, there are lots of things you can do to it.
<ul>
  <li>You can add things to it</li>
  <li>You can pick things from it</li>
  <li>You can sort it</li>
  <li>You can reverse it it</li>
  <li>You can count how many things are in it</li>
</ul>

Here are some examples of all of those things. Try them out. You can even change the list to your real favorite numbers. What happens if you put in something that isn't a number? Just remember, words (called strings) need to be in quotes, like this: "I am a sentence."

<code>
my_favorite_numbers = [2, 13, 1, 21, 7]

print("here is my list of numbers: ", my_favorite_numbers)

my_favorite_numbers.append(10)
print("I added 10 to the list: ", my_favorite_numbers)

print("My thrid favorite number is: ", my_favorite_numbers[2])

my_favorite_numbers.sort()
print("I put my list of number in order: ", my_favorite_numbers)

my_favorite_numbers.reverse()
print("Now they are backwards: ", my_favorite_numbers)


print("I have this many favorite numbers: ", len(my_favorite_numbers))
</code>

We'll see even more things you can do with lists later when we talk about loops!
{% endblock %}
