{% extends "base.html" %}
{% set title %}Table of Contents{% endset %}
{% set next_page%}lesson_01.html{% endset %}

{% block content %}
<ul>
  <li><a href="lesson_01.html">Lesson 1 - Introduction</a>
  <li><a href="lesson_02.html">Lesson 2 - Variables and Math</a>
  <li><a href="lesson_03.html">Lesson 3 - If, Then, Else</a>
  <li><a href="lesson_04.html">Lesson 4 - Lists</a>
  <li><a href="lesson_05.html">Lesson 5 - Maps</a>
  <li><a href="lesson_06.html">Lesson 6 - Loops</a>
</ul>
{% endblock %}
